@use 'variebles' as *;
.button-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top:-3rem;

   a {
    position: relative;
    width: 200px;
    height: 55px;
    text-align: center;
    line-height: 55px;
    margin: 10px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    background: $secondary-color;
    color: $primary-color;
    letter-spacing: 2px;
     overflow: hidden;
    text-decoration: none;
     border: $four-color solid 1px;

     span {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      z-index: 10000;
      transition: 0s ease-in;
    }
  &:hover span {
  transition: 0.4s ease-in;
  transform: translateY(-100%);
}
     &:before {
       content: "";
       position: absolute;
       bottom: -310px;
       left: 50%;
       transform: translateX(-50%);
       width: 0;
       height: 0;
       border-right: 310px solid transparent;
       border-bottom: 310px solid $four-color;
       border-left: 310px solid transparent;
       border-radius: 50%;
       transition: 0.4s ease-in;
     }
    &:hover:before{
      bottom: -150px;
    }
    &:nth-child(2):hover:before{
      bottom: 60px;
    }
  }
}